body{
	background-color: black;
}
#a{
	color: gray;
	text-align: center;
	font-size: 60px;
	font-family: tahoma;
	border: 2px solid lightgray;
	border-radius: 8px;
	background-image: linear-gradient(to right, red, yellow);
}

.b{
	font-family: verdana;
	border: 2px solid lightgray;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	background-color: gray;
	position: right;
	font-size: 20px;
	cursor: pointer;
	width: 20%;
	padding: 5px;
}
.b:hover{
	background-color: lightblue;
}